@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";
@import "nativewind/theme";

@source "./**/*.{js,jsx,ts,tsx}";

@theme {
  --color-background: #ffffff;
  --color-foreground: #000000;
  --color-card: #f0f0f3;
  --color-card-foreground: #000000;
  --color-muted: #f0f0f3;
  --color-muted-foreground: #60646c;
  --color-accent: #e0e1e6;
  --color-accent-foreground: #000000;
  --color-primary: #000000;
  --color-primary-foreground: #ffffff;
  --color-destructive: #e11d48;
  --color-border: #e0e1e6;
  --color-input: #f0f0f3;
  --color-ring: #60646c;
}
